---
import Cliente01 from '../../images/cliente01.jpg'
import Cliente02 from '../../images/cliente02.jpg'
import Cliente03 from '../../images/cliente03.jpg'
import '../styles/Clientes.css'
---
<div class="container contenedor-clientes">
    <section id="testimonios" class="testimonios seccion-clara">
        <h2 class="seccion-titulo text-center">Clientes</h2>
    
        <!-- Carrusel -->
        <div id="testimonios-carrusel" class="container carousel slide carousel-dark">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <img
                            class="testimonio-imagen rounded-circle"
                            src={Cliente01.src}
                            alt="foto de gino"
                        />
                        <p class="testimonio-texto">
                            El Centro Peruano de Banca y Negocios, es una entidad dedicada a la formación educativa técnica en el rubro bancario y de negocios.
                        </p>
                        <div class="testimonio-info">
                            <p class="cargo">
                                CEPEN
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <img
                            class="testimonio-imagen rounded-circle"
                            src={Cliente02.src}
                            alt="foto de nora"
                        />
                        <p class="testimonio-texto">
                            Qory se dedica a la producción de plantas dosificadoras de concreto, así como a brindar servicios de mantenimiento preventivo y correctivo. Además, se especializa en la creación y ejecución de proyectos de ingeniería, así como en la fabricación y montaje de maquinaria y estructuras metálicas.
                        </p>
                        <div class="testimonio-info">
                            <p class="cargo">QORY</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <img
                            class="testimonio-imagen rounded-circle"
                            src={Cliente03.src}
                            alt="foto de leonardo"
                        />
                        <p class="testimonio-texto">
                            OPEN MODA PERU SAC se especializa en la comercialización al por mayor de artículos textiles, prendas de vestir y calzado.
                        </p>
                        <div class="testimonio-info">
                            <p class="cargo">OpenModa</p>
                        </div>
                    </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#testimonios-carrusel"
                data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#testimonios-carrusel"
                data-bs-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </section>
</div>
