---
import "../styles/Mapa.css";
---

<section class="contenedor-mapa">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d487.83299213640646!2d-76.86520356381786!3d-11.99773983574865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1706634838518!5m2!1ses-419!2spe"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div
        class="card text-bg-light mb-3 tarjeta-contacto"
        style="max-width: 18rem;"
    >
        <div class="card-body">
            <h5 class="card-title titulo-contacto">Información de contacto</h5>
            <p class="card-text">Ubicación: Calle Carapongo</p>
            <p class="card-text">Teléfono: 951-745-652</p>
            <p class="card-text">Correo: mercado@email.com</p>
        </div>
    </div>
</section>
