---
import Equipo from '../../images/equipo.png'
import '../styles/NosotrosResumen.css'
---

<div class="container contenedor-nosotros-resumen">
    <div class="row d-flex align-items-center">
        <div class="col-xl-6 col-lg-6 py-5">
            <h2 class="fw-bold">Un poco sobre nosotros</h2>
            <p>
                Con más de 8 años de experiencia, nos hemos consolidado como líderes en el servicio de implementación de sistemas de videovigilancia en el distrito de Lima y sus alrededores. Enfocados en la seguridad de centros comerciales, tiendas, domicilios y centros educativos, nuestro compromiso es garantizar la calidad de nuestros servicios. Contamos con un equipo multidisciplinario altamente calificado, respaldando nuestra misión de proporcionar soluciones de seguridad integrales. En cada proyecto, nos esforzamos por superar las expectativas, ofreciendo no solo tecnología de vanguardia, sino también un servicio de garantía que respalda la tranquilidad y confianza de nuestros clientes. Confíe en nosotros para proteger lo que más le importa.
            </p>
            <a href="/nosotros" class="btn btn-primary">Ver más</a>
        </div>
        <div class="col-xl-6 col-lg-6">
            <img class="imagen-nosotros" src={Equipo.src} alt="Un poco sobre System Video Security">
        </div>
    </div>
</div>
