---
import Equipo from '../../images/equipo.png'
import '../styles/NosotrosPg.css'
---

<section class="container contenedor-nosotros">
    <h2 class="text-center fw-bold">System Video Security</h2>
    <p class="text-center">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.<br />Lorem Ipsum has been the industry's standard dummy text
        ever since the.
    </p>
    <div class="row contenedor-subtitulo">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <h4 class="fw-bold">
                System video security ayuda a crecer a sus socios mediante la
                publicación de sus productos.
            </h4>
            <p class="parrafo-nosotros">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse gravida, diam quis euismod volutpat, orci ligula
                vehicula nibh, molestie molestie purus orci quis nulla. Sed at
                lobortis sapien. Vivamus facilisis justo risus, et mattis dolor
                volutpat nec. Aenean aliquet, elit vitae ornare imperdiet, mi ex
                auctor justo, porttitor congue turpis leo gravida magna. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis
                semper velit. Phasellus sollicitudin lacus vitae tortor interdum
                commodo. Mauris efficitur dignissim dui vitae faucibus. Nam
                luctus elit eget ex suscipit euismod eu et mi. Phasellus ac
                justo nunc. Vestibulum ante ipsum primis in faucibus orci luctus
                et ultrices posuere cubilia curae; Fusce egestas consequat
                tortor sit amet accumsan. Quisque viverra rutrum metus. Sed
                nulla ligula, maximus consequat finibus ac, consectetur
            </p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <img class="imagen-socios" src={Equipo.src} alt="Socios">
        </div>
    </div>
</section>