---

---

<div class="container contenedor-nosotros-resumen">
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <h2 class="fw-bold">Un poco sobre nosotros</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
            </p>
            <a href="/nosotros" class="btn btn-warning">Ver más</a>
        </div>
        <div class="col-xl-6 col-lg-6">
            <!-- <img src={} alt="Un poco sobre System Video Security"> -->
        </div>
    </div>
</div>
