---
import SistemaDVR from "../../images/sistema-dvr.png";
import Smart from "../../images/smart.png";
import AlarmaVecinal from "../../images/alarma-vecinal.png";
import "../styles/VideoVigilancia.css";
---

<div class="container contenedor-vigilancia">
    <h2 class="fw-bold text-center titulo-servicio">Servicios</h2>
    <div class="row">
        <div class="contenedor-imagen col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="caja-imagen">
                <img
                    class="imagen-servicio"
                    src={SistemaDVR.src}
                    alt="Sistema DVR"
                />
            </div>

            <div class="descripcion-tarjeta">
                <h5>Sistemas con DVR-NVR</h5>
                <p>
                    NVR y DVR desempeñan un papel crucial en el ámbito de la
                    videovigilancia como los principales dispositivos de
                    almacenamiento y análisis.
                </p>
                <a href="/contactanos" class="boton-tarjeta">Contáctanos →</a>
            </div>
        </div>

        <div class="contenedor-imagen col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="caja-imagen">
                <img
                    class="imagen-servicio"
                    src={Smart.src}
                    alt="Sistema DVR"
                />
            </div>

            <div class="descripcion-tarjeta">
                <h5>Cámaras Smart-Wifi</h5>
                <p>
                    La creciente popularidad de espacios inteligentes destaca la
                    conveniencia de tener todos los dispositivos conectados y
                    accesibles desde un teléfono, incluso cuando se está fuera.
                </p>
                <a href="/contactanos" class="boton-tarjeta">Contáctanos →</a>
            </div>
        </div>

        <div class="contenedor-imagen col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="caja-imagen">
                <img
                    class="imagen-servicio"
                    src={AlarmaVecinal.src}
                    alt="Sistema DVR"
                />
            </div>

            <div class="descripcion-tarjeta">
                <h5>Alarmas Vecinales</h5>
                <p>
                    La seguridad de la comunidad es crucial, y las alarmas
                    vecinales son eficaces para mejorarla. Se transmite un claro compromiso de los
                    residentes hacia la seguridad del vecindario, disuadiendo la
                    comisión de delitos.
                </p>
                <a href="/contactanos" class="boton-tarjeta">Contáctanos →</a>
            </div>
        </div>
    </div>
</div>
